body {
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.jumbotron {
    text-align: center;
}

p{
    color: White;
    /* margin-right: 20px */
}

h2 {
    font-size: 30px;
    color: White;
    margin-bottom:300px;
    margin-top: 0px;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /* margin-left: 25px; */
    text-align: center;
    font-family: arial;
    margin-top: 25px;
    ;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto');

 
  
  
  
  .form{
    max-width: 800px;
    height: 600px;
    background: #fff;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(72,98,85, 0.6);
    box-sizing: border-box;
    padding: 40px;
    background-color: greenyellow;
  }
  
  #contact{
    text-align: center;
    letter-spacing: 1px;  
    font-size: 45px;
    margin-bottom: 20px;
    color: slategray;
  }

  .space{
      border-radius: 5px;
      
      width: 50%;
      margin-left: 25%;
      margin-top: 63px
      
  }
  
  .input,
  .msg .area{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transform: all 0.5s ease;
  }
  
  .login .input{
    width: 48%;
    float: left;
    margin-right: 4%;
  }
  
  .login .input:last-child{
    margin-right: 0;
  }
  
  .msg .area{
    height: 200px;
  }
  
  .btn{
    width: 250px;
    background: slategray;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .input:focus,
  .msg .area:focus{
    border: 2px solid #486255;
  }
  



  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: slategray;

    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


  .links{
      color:white
  }
  
  
 /* ----------------- */

  /* * {
  max-width: 700px;
  margin: auto;
} */


/*body {
    min-width: 500px;
}*/

div {
  border-radius: 5px;
  color: midnightblue
}

/* #header {
  height: 40px;
  width: 100%;
  background-color: orangered;
  position: fixed;
  z-index: 1;
} */

#title {
  margin-left: 3%;
  color: blue
}

#footer {
  height: 50px;
  width: 100%;
  background-color: red;
  clear: both;
  position: relative;
}

.left {
  height: 1500px;
  width: 45px;
  background-color: slategray;
  float: left;
  /* position: fixed; */
}

.right {
  height: 1500px;
  width: 45px;
  background-color: slategray;
  float: right;
  
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
}

p,
li {
  font-family: 'Cormorant Garamond';
}

.head {
  font-size: 20px;
}

#name {
  font-family: Sacramento;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 430px) {
  .left,
  .right {
    display: none;
  }
  .stuff {
    width: 100%;
    margin-left: 10px;
  }
}
  
  
  
 